.about-section{
  padding: 3rem 0;
  background-color: var(--color-secondary);
}

/* ABOUT ME */
.me-title{
  padding: 0 0 1.5rem 0;
}

.me-title h3{
  font-size: var(--font-size-medium);
  color: var(--color-bg);
  line-height: 1.3;
  font-weight: 600;
}

.me-title small{
  padding-left: 5rem;
  margin: 0;
  position: relative;
  color: var(--color-primary);
}

.me-title small::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 4.5rem;
  background-color: var(--color-primary);
}

.me-text{
  text-align: start;
  margin-bottom: 1rem;
  color: var(--color-bg);
}

/* SKILLS */
.skills-title{
  margin-top: var(--font-size-medium);
  padding: 2.5rem 0;
}

/* SKILLS CARDS */
.skills-wrap{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding-top: 2rem;
}

.card-icon{
  width: 60px;
  height: 60px;
  color: var(--color-primary);
}

.card-title{
  color: var(--color-primary);
  font-weight: 600;
}

.skills-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
  height: 170px;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-primary);
  transition: var(--transition);
}

.skills-card:hover{
  background-color: var(--color-primary);
}

.skills-card:hover .card-icon,
.skills-card:hover .card-title{
  color: var(--color-secondary);
}

@media screen and (max-width: 1040px){
  .about-section{
    min-height: max-content;
  }

  .me-title{
    text-align: center;
  }
  
  .me-title > small{
    font-size: 0.8rem;
  }

  .me-title > h3{
    font-size: var(--font-size-title-1040);
  }

  .me-text{
    font-size: 0.9rem;
    text-align: center;  
  }

  .skills-wrap{
    flex-wrap: wrap;
  }

  .skills-title{
    text-align: center;
  }

  .skills-title > small{
    font-size: 0.8rem;
  }

  .skills-title > h3{
    font-size: var(--font-size-title-1040);
  }
  
  .card-icon{
    width: 70px;
    height: 70px;
  }

}




