.about-section{
  min-height: 100vh;
  padding: 5rem 0;
  /* background-color: var(--color-secondary); */
}

/* ABOUT ME */
.me-title{
  padding: 2.5rem 0;
}

.me-title > small{
  color: var(--color-gray);
}

.me-title > h3{
  font-size: var(--font-size-medium);
  margin-top: -0.7rem;
}

.me-text{
  text-align: center;
}

.me-text > strong{
  color: var(--color-primary);
}

/* SKILLS */
.skills-title{
  margin-top: var(--font-size-medium);
  padding: 2.5rem 0;
}

.skills-title > small{
  color: var(--color-gray);
}

.skills-title > h3{
  font-size: var(--font-size-medium);
  margin-top: -0.7rem;
}

/* SKILLS CARDS */
.skills-wrap{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.card-icon{
  width: 85px;
  height: 85px;
  color: var(--color-primary);
}

.skills-card{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  max-width: 300px;
}

@media screen and (max-width: 1040px){
  .about-section{
    min-height: max-content;
  }

  .me-title{
    text-align: center;
  }
  
  .me-title > small{
    font-size: 0.8rem;
  }

  .me-title > h3{
    font-size: var(--font-size-title-1040);
  }

  .me-text{
    font-size: 0.9rem;
    text-align: center;  
  }

  .skills-wrap{
    flex-wrap: wrap;
  }

  .skills-title{
    text-align: center;
  }

  .skills-title > small{
    font-size: 0.8rem;
  }

  .skills-title > h3{
    font-size: var(--font-size-title-1040);
  }
  
  .card-text{
    font-size: 0.9rem;
    text-align: start;
  }

  .card-icon{
    width: 70px;
    height: 70px;
  }

}




