.header{
  height: 800px;    
  overflow: hidden;
}

.header-container{
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

/* INTRODUCTION */
.header-left{
  width: 35%;
}

.header-title{
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 500;
  color: var(--color-letters);
}

.header-title span{
  position: relative;
}

.header-title span::before{
  content: '';
  position: absolute;
  width: 40%;
  height: 15px;
  bottom: 15%;
  right: 4%;
  background-color: aqua;
  z-index: -1;
}

.header-upper-title{
  font-weight: 300;
  margin-bottom: 0;
}

.header-line-left{
  width: 1px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 180px;
}

.header-line-right{
  width: 1px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 10px;
  height: 130px;
}

.cta{
  transition: var(--transition);
  margin-top: 3.5rem;
}

.cta > a{
  font-size: 0.95rem;
}

/* SOCIAL ICONS */
.header-socials{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: absolute;
  right: 0;
  bottom: 10rem;
  z-index: 1;   
}

.socials-icons{
  color: white;
  width: 20px;
  height: 20px;
  transition: var(--transition);
}

.socials-icons:hover{
  color: var(--color-secondary);
}

/* IMAGE */
.header-me > img{
  display: block;
  width: 50%;
  position: absolute;
  right: 4.15rem;
  bottom: 3rem;
  z-index: 1;
}

.header-bg{
  position: absolute;
  width: 69rem;
  height: 69rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  right: -30rem;
  bottom: -20rem;
}

.header-scroll-down{
  display: none;
}

@media screen and (max-width: 1366px){
  .header-title{
    font-size: 1.5rem;
  }

  .header-title > strong{
    font-size: 2.5rem;
  }

  .header-text{
    font-size: 0.9rem;
  }

  .header-socials{
    bottom: 50%;
    transform: translateY(50%);   
  }

  .header-bg{
    width: 57rem;
    height: 57rem;
    bottom: 50%;
    transform: translateY(50%);
  }

  .cta > a{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px){
  .header{
    padding-top: 5rem;
  }
  
  .header-container{
    justify-content: center;
  }

  .header-title{   
    font-size: 1.2rem;
  }

  .header-title > strong{   
    font-size: 2.1rem;
  }

  .header-text{  
    font-size: 0.9rem;
  }

  .header-left{
    width: 50%;
    position: absolute;
    top: 10%;      
  }

  .header-scroll-down{
    display: block;
    position: absolute;
    left: -2.5rem;
    bottom: 50%;
    transform: translateY(50%);
    transform: rotate(90deg);
    color: var(--color-primary);
    font-size: var(--font-size-smaller);
  }

  .header-me > img{
    display: none;
  }
  
  .header-bg{
    display: none;
  }

  .socials-icons{
    color: var(--color-primary); 
  }

  .socials-icons:hover{
    color: var(--color-letters);
  }

  .cta > a{
    font-size: 0.9rem;
    width: 100%;
    display: flex;
    justify-content: center;  
  }
}

@media screen and (max-width: 600px){
  .header-title{   
    font-size: 1.2rem;
  }

  .header-title > strong{   
    font-size: 2.3rem;
  }

  .header-text{  
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 425px){
  .header-left{
    width: 70%;
    align-items: center;
  }
  
  .header-title{   
    font-size: 1rem;
  }

  .header-title > strong{   
    font-size: 2rem;
  }

  .header-text{  
    font-size: 0.9rem;
    text-align: center;
  }

  .cta > a{
    font-size: 0.8rem;
    width: 100%;
  }
}
