.banner{
  height: 800px;    
  overflow: hidden;
}

.banner-container{
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.banner-left{
  width: 50%;
  animation: slide-left .8s ease;
}

.banner-right{
  width: 50%;
}

.banner-upper-title{
  font-weight: 300;
  margin-bottom: 0;
}

.banner-title{
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 500;
  color: var(--color-secondary);
}

.banner-title span{
  position: relative;
}

.banner-title span::before{
  content: '';
  position: absolute;
  width: 40%;
  height: 15px;
  bottom: 15%;
  right: 4%;
  background-color: var(--color-highlight);
  z-index: -1;
}

.banner-line-left{
  width: 1px;
  background-color: var(--color-secondary);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 180px;
  animation: slide-bottom .8s ease;
}

.banner-line-right{
  width: 1px;
  background-color: var(--color-secondary);
  position: absolute;
  bottom: 0;
  right: 10px;
  height: 130px;
  animation: slide-bottom .8s ease;
}

.cta{
  transition: var(--transition);
  margin-top: 3.5rem;
}

.cta > a{
  font-size: 0.95rem;
}

.banner-socials{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: absolute;
  right: 0;
  bottom: 10rem;
  z-index: 1;   
  animation: slide-bottom .8s ease;
}

.socials-icons{
  color: var(--color-highlight);
  width: 20px;
  height: 20px;
  /* transition: var(--transition); */
  transition: transform 0.5s ease;
}

.socials-icons:hover{
  color: var(--color-secondary);
  transform: rotate(360deg);
}

.banner-right img{
  width: 600px;
  animation: grow .8s ease;
}

@media screen and (max-width: 1400px){
  .banner-right img{
    max-width: 500px;
  }
}

@media screen and (max-width: 1200px){
  .banner-title{
    font-size: 3.8rem;
  }

  .banner-left{
    width: 45%;
  }
}

@media screen and (max-width: 992px){
  .banner{
    height: max-content;
  }
  
  .banner-container{
    padding: 10rem 0 15rem 0;
  }
  
  .banner-left{
    width: 100%;
  }

  .banner-right img{
    display: none;
  }
}

@media screen and (max-width: 576px){
  .banner-container{
    padding: 10rem 0 22rem 0;
    display: block;
  }

  .banner-title{
    font-size: 3.3rem;
  }

  .banner-line-left{
    height: 260px;
  }
}

