.navbar{
  width: 100%;
  height: 4rem;
  display: flex;
  background-color: var(--color-primary);
  position: fixed;
  z-index: 2; 
}

.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.navbar-container h2{
  position: relative;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 800;
  z-index: 2;
  color: var(--color-highlight);
}

.navbar-container h2::before{
  content: '';
  position: absolute;
  width: 27px;
  height: 8px;
  bottom: 9px;
  right: -5px;
  background-color: var(--color-secondary);
  z-index: -1;
}

.navbar-list{
  display: flex;
  gap: 2.5rem; 
  font-weight: 300;
}

.navbar-list li a:hover{
  color: var(--color-highlight);
  transition: var(--transition);
}

@media screen and (max-width: 768px){
  /* Hidden navbar to match hamburguer menu on tablets/mobile devices*/
  .navbar-list{
    background-color: var(--color-primary);
    flex-direction: column;
    position: absolute;
    right: -100%;
    gap: 0;
    top: 4rem;
    transition: var(--transition);
    width: 50vw;  
  }

  .navbar-list li{
    display: flex; 
    justify-content: center;
  }

  .navbar-list li a{
    padding: 2.5rem 15vw;
  }

  .navbar-list li a:hover{
    background-color: var(--color-highlight);
    color: white;
    text-align: center;
    width: 100%;
  }

  .navbar-list--active{
    right: 0;
  }

  /* HAMBURGUER BAR AND ANIMATION */
  .navbar-hamburguer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
  }

  .bar{   
    height: 5px;
    width: 35px;
    background: var(--color-secondary);
    border-radius: 5px;
    margin: 4px auto;
    transform-origin: right;
    transition: var(--transition);
  }

  .bar:nth-child(2){
    background-color: var(--color-highlight);
  }

  .navbar-hamburguer--active .bar:nth-child(1) {
    transform: rotate(-50deg);
    
  }
  .navbar-hamburguer--active .bar:nth-child(2) {
    transform:translateX(1rem);
    opacity: 0;
  }
  .navbar-hamburguer--active .bar:nth-child(3) {
    transform: rotate(50deg);
      
  }

  /* BARS ON WINDOW SCROLL */
  .window-scroll .navbar-hamburguer .bar{
    background-color: white;
  }

  .window-scroll .navbar-list{
    background-color: var(--color-highlight);
  }

  .window-scroll .navbar-list a:hover{
    background-color: white;
    color: var(--color-secondary);
  }

}

@media screen and (max-width: 480px){
  .navbar-list{
    width: 70vw;
  }
}

